<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<!-- <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet"> -->
 <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

<h2>🎤 Upload Audio</h2>

<a href="/history">History</a> |
<a href="/logout">Logout</a>

<form action="/analyze" method="post" enctype="multipart/form-data" id="uploadForm">
<input type="file" name="audio" required>
<button type="submit">Analyze</button>
</form>

<h3>Or Record Live</h3>

<button type="button" id="recordBtn">🎤 Start Recording</button>
<button type="button" id="stopBtn" disabled>⏹ Stop</button>

<form id="recordForm" method="post" action="/analyze" enctype="multipart/form-data">
<input type="hidden" name="audio" id="audioData">
</form>

<div id="loading" class="loading">
<p>Processing...</p>
</div>

{% if transcription %}

<div class="result-card">

<h3>Text</h3>
<p>{{ transcription }}</p>

<h3>Sentiment</h3>

<p class="sentiment 
{% if sentiment[0]['label'] == 'POSITIVE' %}
positive
{% else %}
negative
{% endif %}
">

{{ sentiment[0]['label'] }}  
({{ (sentiment[0]['score']*100)|round(2) }}%)

</p>

</div>

{% endif %}

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>