<!DOCTYPE html>
<html>
<head>
<title>History</title>
<!-- <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet"> -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

<h2>Your History</h2>

<a href="/dashboard">Back</a>
<div class="table-container">
    <table>
<tr>
<th>Text</th>
<th>Sentiment</th>
</tr>

{% for item in data %}
<tr>
<td>{{ item.text }}</td>
<td>{{ item.sentiment }}</td>
</tr>
{% endfor %}

</table>

</div>

</div>
</body>
</html>